img { max-width: 100%; }

.flexy {
  align-items: center;
  display: flex;
  justify-content: center;
}

.image-list {
  .flexy;
  flex-wrap: wrap;
  .card {
    cursor: pointer;
    margin: 0.5rem;
    .fixed-image {
      .flexy;
      height: 128px;
      width: 128px;
    }
  }
  .ellipsis {
    max-width: 128px;
    padding-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

gtfo-new-form {
  .field__replace_color {
    display: none;
  }
  &.method__replace_color {
    .field__replace_color {
      display: block;
    }
  }
}