img { max-width: 100%; }

.flexy {
  align-items: center;
  display: flex;
  justify-content: center;
}

gtfo-new .images {
  .flexy;
  flex-wrap: wrap;
  .card {
    cursor: pointer;
    margin: 0.5rem;
    .image {
      .flexy;
      height: 128px;
      width: 128px;
    }
  }
}